In [1]:
import pandas as pd
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [5]:
source = pd.read_csv('visa_clean.csv',index_col=0)
df = source['employer_name']
df.head(20)

0                                  NETSOFT USA INC.
1                       PINNACLE ENVIRONEMNTAL CORP
2                        SCHNABEL ENGINEERING, INC.
3                           EBENEZER MISSION CHURCH
4                        ALBANY INTERNATIONAL CORP.
5                       PINNACLE ENVIRONEMNTAL CORP
6                               EMMA WILLARD SCHOOL
7                                FDS  ALUMINUM  LLC
8               ELECTRONIC DATA SYSTEMS CORPORATION
9                 AMER BROTHERS INTERNATIONAL, INC.
10                                      AQUAS, INC.
11                        NINE MUSES AND APOLLO INC
12                       FASTPULSE TECHNOLOGY, INC.
13                               INTEC BILLING, INC
14                               ERNEST MAIER, INC.
15                            NIKO DEVELOPMENT CORP
16                   COMPUNNEL SOFTWARE GROUP, INC.
17    V.H.C. USA INCD/B/A VITAMIN HOMEOPTAHY CENTER
18                           VITAMIA PASTA BOY, INC
19                     REFIX TRUCK & TRAILER REPAIR
Name: employer_name, dtype: object

In [9]:
f500 = pd.read_csv('f500.csv')

In [11]:
f500.head(20)

                            f500_name
0                      CIT Group Inc.
1                    General Electric
2                     Parker-Hannifin
3                             KeyCorp
4    AmTrust Financial Services, Inc.
5                               Dover
6                         Hanesbrands
7        Casey’s General Stores, Inc.
8                               Fluor
9          Dollar General Corporation
10                Avon Products, Inc.
11                          Essendant
12             Ralcorp Holdings, Inc.
13                            Brink’s
14                                CDW
15                           TrueBlue
16    Jones Lang LaSalle Incorporated
17  Caesars Entertainment Corporation
18                 The Timken Company
19                             Google